<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Red Belt Queries</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojo/css/belts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <script src="{% static 'dojo/js/jquery-3.2.0.js' %}" charset="utf-8"></script>
    <script src="{% static 'dojo/js/belts.js' %}" charset="utf-8"></script>
  </head>
  <body>
    {% load filters %}
    {% load django_tables2 %}
    <div class="wrapper" id="redPage">
      <div id="allTables">
        <header>
          <h1 class="centerJ greeting">Red Belt Queries</h1>
          <h3 class="centerJ">ForeignKey Relationships</h3>
          <button class="resetButton" id="resetAnswers" type="button">Reset Answers</button>
        </header>
        <div class="dropdown">
          <button class="dropbtn">Navigation</button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/belt/yellow">Yellow Belt Queries</a>
            <a href="/belt/black">Black Belt Queries</a>
          </div>
        </div>
        <div class="liveDB" id="leagueDiv">
          <p class="centerJ dblabel">League.objects.all()</p>
          {% render_table leagueDB %}
        </div>
        <div class="liveDB" id="teamDiv">
          <p class="centerJ dblabel">Team.objects.all()</p>
          {% render_table teamDB %}
        </div>
        <div class="liveDB" id="playerDiv">
          <p class="centerJ dblabel">Player.objects.all()</p>
          {% render_table playerDB %}
        </div>
        <p class="sortNote">* You can click on the table headers to sort the table data but beware that it will refresh the page clearing everything except questions already answered correctly.</p>
      </div>
      <hr>
      <div id="questionList">
        {% for question in questions %}
          <div id="{{question.questionNumber}}">
            <div class="question">
              <p class="qIndex">{{forloop.counter}}.</p>
              <div class="smiley">
                {% if request.session|look_for_questionNumber:question.questionNumber %}
                  <img src="{% static 'dojo/images/smiley.png' %}" alt="smiley">
                {% endif %}
              </div>
              <p class="questionText">{{question.text}}</p>
              <textarea class="answerBox" name="{{question.questionNumber}}" rows="4" cols="60" maxlength="200">{% if request.session|look_for_questionNumber:question.questionNumber %}{{request.session|get_response:question.questionNumber}}{% endif %}</textarea>
              <button class="answerButton" type="button" name="{{question.questionNumber}}">Submit ORM Query</button>
            </div>
            <div class="question resultsWindow">
              {% if request.session|look_for_questionNumber:question.questionNumber %}
                {{request.session|get_resultsWindow:question.questionNumber|safe}}
              {% else %}
                <h2>results</h2>
              {% endif %}
            </div>
          </div>
          {% if forloop.counter < questions|length %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>
      <hr>
      <footer><p>Created by Andres Velasquez</p></footer>
      <input id="beltcolor" type="hidden" name="red">
    </div>
  </body>
</html>
